apiVersion: policy.open-cluster-management.io/v1
kind: PolicyGenerator
metadata:
  name: configuration-policies
policyDefaults:
  namespace: policies
  consolidateManifests: false
policies:
  - name: operator-configuration
    description: |
      This policy ensures that the operators in manifests/operators are deployed to ALL clusters (global clusterset).
      Currently it deploys the following operators:
      * web-terminal redhat operator
    manifests:
      - path: manifests/operators
        pruneObjectBehavior: DeleteIfCreated
        remediationAction: enforce
  - name: console-banner
    description: |
      This policy ensures that a console banner is present
    manifests:
      - path: manifests/console-banner
        pruneObjectBehavior: DeleteIfCreated
        remediationAction: enforce
  - name: f5-cis-configurations
    description: |
      This policy ensures f5 CIS is configured for HA BIG-IP using OVN-k8s iCNI with NO Tunnels
      * https://clouddocs.f5.com/containers/latest/userguide/openshift/openshift-4-12-cluster.html
      * https://github.com/mdditt2000/k8s-bigip-ctlr/tree/main/user_guides/ovn-kubernetes-ha#step-4-configure-egress-from-openshift-cluster-to-big-ip
    placement:
      placementPath: placements/non-hub-placement.yaml
    manifests:
      - path: manifests/f5-cis
        pruneObjectBehavior: None
        remediationAction: inform
  - name: migrate-workloads-to-infra-nodes
    description: |
      This policy ensures that the following components are configured to deploy on infrastructure nodes:
      * Monitoring
      * Default Router
      For further information consult:
        https://docs.openshift.com/container-platform/4.14/machine_management/creating-infrastructure-machinesets.html#moving-resources-to-infrastructure-machinesets
    manifests:
      - path: manifests/infrastructure-nodes
        pruneObjectBehavior: None
        remediationAction: enforce
    placement:
      placementPath: placements/non-hub-placement.yaml
  - name: oauth-ldap
    description: |
      This ensures that ldap is configured for OAuth on all clusters (global clusterset)
    manifests:
      - path: manifests/ldap
        pruneObjectBehavior: None
        remediationAction: inform